body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
}

.hidden{
    display: none;
}

img{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;

}

.grid{
    height: 400px;
    width: 400px;
    background-color: #dcd6bc;
    margin: 10px 0px;
    border: 10px solid #dcd6bc;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}

div{
    font-size: 25px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    caret-color: transparent;
}

.valid, .bomb{
    width: 40px;
    height: 40px;
    border: 5px solid ;
    border-color: #ecebf5 #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checked{
    border: 2px solid #9c998d;
    box-sizing: border-box;
    cursor: auto;
}

#flags-left{
    width: 80px;
    height: 35px;
    font-size: 30px;
    background-color: rgb(39, 3, 3);
    color: rgb(206, 72, 72);
    font-family: 'Seven Segment', sans-serif;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

#refresh{
    cursor: pointer;
    font-size: 27px;
}

#difficulty{
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    width: 80px;
    height: 35px;
}

#result{
    height: 40px;
    width: 420px;
}

footer{
    text-align: center;
    font-size: 25px;
    color: #0E2431;
    margin-top: 100px;

}


@media (max-width : 430px){
    .grid{
        width: 350px;
        height: 350px;
    }
    .valid, .bomb{
        width: 35px;
        height: 35px;
    }
    header{
        width: 370px;
    }
    footer{
        font-size: 20PX;
    }
}

@media (max-height : 720px){
    footer{
        margin-top: 50px;
    }
}

@media (max-height : 660px){
    .container{
        margin-top: 50px;
    }
    footer{
        margin-top: 40px;
    }
    
}